<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="netBankingTest">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class
				name="com.vandvtechsolution.netbanking.testcases.LoginTc001" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
